/**
 * Section (objects/_section.scss)
 */

/* ----- General ----- */
.section {
	padding: 3.75rem 0 (3.75rem - 1.25rem) 0;

	@media (min-width: $screen-sm-min) {
		padding: 4.25rem 0 (4.25rem - 1.25rem) 0;
	}
}

/* ----- Variations ----- */
.section--darker-theme-color-bg {
	background: linear-gradient(90deg, $color-theme-blue 0%, mix($color-theme-blue, $color-theme-orange, 50%) 60%, $color-theme-orange 100%);
}

.section--grey {
	background-color: $color-section-grey;
}
